@import "tailwindcss";

@theme {
    --font-sans: "Geist Sans", ui-sans-serif, system-ui;
    --color-primary: #4f46e5;
    /* Electric Indigo */
    --color-sidebar: #f8fafc;
}

@layer base {
    * {
        @apply border-slate-200;
    }

    body {
        @apply bg-white text-slate-900 font-sans antialiased;
    }
}